<!DOCTYPE html>
<html>
<head>
  <title>OCR Text Recognition</title>
</head>
<body>
 <Div>
  <form action="/ExctractTextFromimage"  method="post" enctype="multipart/form-data">
    <label>Upload The Image:</label>
    <input type="file" name="file" id="" required accept="images/*">
    <button>Extract Image</button>
    <textarea cols="10" rows="10"></textarea>

  </form>
 </Div>
</body>
</html>
